$themes: (
	default: ("body-bg": #e5e5e5,
		"primary": #0099d4,
		"secondary": #a0a19f,
		"success": #00a84f,
		"info": #00bed3,
		"warning": #ffcd03,
		"danger": #dd1a21,
		"light": #efefef,
		"dark": #42423f,
		"grey": #cbcbcb,
		"white": rgb(255, 255, 255)),
	dark: ("body-bg": #090f18,
		"primary": #00415b,
		"secondary": #a0a19f,
		"success": #006221,
		"info": #330163,
		"warning": #997b00,
		"danger": #920005,
		"light": #585353,
		"dark": #373734,
		"grey": #cbcbcb,
		"white": rgb(255, 255, 255)),
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
	"Courier New", monospace;
$gradient: linear-gradient(180deg,
		hsla(0, 0%, 100%, 0.15),
		hsla(0, 0%, 100%, 0));

$color-ranges: (
	0: 0,
	5: 5,
	10: 10,
	15: 15,
	20: 20,
	25: 25,
	30: 30,
	35: 35,
	40: 40,
);